.background{
    height:100%;
    width:100%;
    position:absolute;
    z-index:-9999;
    object-fit: cover;
}

.port-button{
    padding:20px;
    display:block;
    border:black 3px inset;
    text-decoration:none;
}
.port-button:hover{
    text-decoration:none;
}

  .column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  .fit-cover{
      object-fit:cover;
  }
  .fit-scale{
    object-fit:contain;
  }
  .back2{

  }
