<!DOCTYPE html>
<html class="h-100">

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../public/Javascripts/index.js"></script>
</head>

<body class="h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-auto" href="#">Photogramer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="d-flex h-100 flex-row justify-content-around align-items-center">
        <div class="d-flex flex-column align-items-center">
            <h1 style="text-align: center;font-family:Elephant;" class="text-light">Veja aqui o meu portfólio de fotos!</h1>
            <a alt="fundo" href="#port" style="font-family:Elephant" class="port-button bg-warning text-white">Clique aqui!</a>
        </div>
        <img src="../public/images/Background.jpg" class="background">


    </section>
    <section id="port" class="d-flex flex-wrap justify-content-around align-items-center bg-dark py-4">

        <div class="column">
            <img src="../public/images/edward1.jpeg" alt="Snow" style="width:100%; height:300px" class="fit-scale">
        </div>
        <div class="column">
            <img src="../public/images/edward2.jpeg" alt="Forest" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/choris.png" alt="Mountains" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/Sunny.jpg" alt="Mountains" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/Estrada.jpg" alt="Mountains" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/Cachoeira.jpg" alt="Mountains" style="width:100%; height:300px" class=" fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/Gruta.jpg" alt="Mountains" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/Lago Azul.jpg" alt="Mountains" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/Montanhas.jpg" alt="Mountains" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/Peixes.jpg" alt="Mountains" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div class="column">
            <img src="../public/images/Praia.jpg" alt="Mountains" style="width:100%; height:300px" class="fit-scale ">
        </div>
        <div>

        </div>
    </section>
    <section class="d-flex h-100 flex-row justify-content-around align-items-center ">
        <div class="d-flex flex-column align-items-center w-100 bg-light py-4">
            <h1 style="text-align: center;font-family:Elephant;" class="text-black">Gostou do meu trabalho?</h1>
            <div class="card-group">
                <div class="card" style="width: 18rem;">
                    <img src="../public/images/Onda.jpg" class="card-img-top fit" style="height:300px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Plano B&aacute;sico</h5>
                        <p class="card-text">O plano b&aacute;sico possui menos fotos, recomendado para &aacute;lbuns de crian&ccedil;as.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">50 Fotos</li>
                        <li class="list-group-item">Montagem de álbum pequeno/médio</li>
                        <li class="list-group-item">HD</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" style="width:100%" class="btn btn-warning">R$200,00</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../public/images/Recifes.jpg" class="card-img-top fit" style="height:300px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Plano M&eacute;dio</h5>
                        <p class="card-text"> O plano m&eacute;dio possui mais fotos, numa boa qualidade, recomendado para casamentos</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">200 Fotos</li>
                        <li class="list-group-item">Montagem de &aacute;lbum grande/gigante</li>
                        <li class="list-group-item">Full HD</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" style="width:100%" class="btn btn-warning">R$500,00</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../public/images/Quedas.jpg" class="card-img-top fit" style="height:300px">
                    <div class="card-body">
                        <h5 class="card-title">Plano Avan&ccedil;ado</h5>
                        <p class="card-text">O plano avan&ccedil;ado tem uma enorme quantidade de fotos, com alta qualidade, perfeito para eventos de longa dura&ccedil;&atilde;o</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1000 Fotos</li>
                        <li class="list-group-item">&Aacute;lbum online</li>
                        <li class="list-group-item">Ultra HD</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" style="width:100%" class="btn btn-warning">R$1000,00</button>
                    </div>
                </div>
            </div>
            
        </div>
        <img src="../public/images/Back2.jpg" class="background">
    </section>
</body>

</html>